.section-four-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
}
.col {
  flex-basis: 50%;
  min-width: 300px;
}

.hero-img {
  width: 100%;
  padding: 50px 0;
}
.col-span {
    position: relative;
}
.col-hr {
    position: absolute;
    top: -5px;
    height: 4px;
    left: 20%;
    background-color:  #505D7833;
    width: 10%;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
  .section-four-row {
    flex-direction: column;
    text-align: center;
  }
}
 @media only screen and (max-width: 480px) {
  .section-four-row {

    padding: 40px;
  }
 }
