<div class="container">
<div class="section-one-row">
      <div class="col">
        <h1>
          <span class="title-one">Helping</span> Each Other <br /> Can Make The World <br/> <span class="title-two">Better</span>
        </h1>
        <p>
          We Seek out world changers and difference makers around <br/>the globe, and equip them to fulfill their unique purpose.
        </p>
        <div class="section-btn">
            <button (click)="donatePage()" class="donate-btn">Donate Now</button>
        </div>
      </div>
      <div class="col elipse">
        <img class="hero-img" src='../../../../assets/images/hero-one.png' alt="heroimg" />
      </div>
    </div>
</div>
