<div class="container">
  <div class="donate-form">
    <div class="form-header">
      <h2>DONATE FORM</h2>
      <p>Please fill in your details below or check the "Donate anonymously" box to donate anonymously</p>
    </div>
    <form #form="ngForm" action="" (ngSubmit)="onSubmit(form)">
      <div class="details-anon" *ngIf="!isAnonymous">
        <div class="input-row">
          <div class="inputGroup">
            <label for="name" class="label-name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              required
              placeholder="Enter your name"
              [(ngModel)]="donate.name"
              #nameField="ngModel"
              [class.field-error]="form.submitted && nameField.invalid"
            />
            <div
              [hidden]="!form.submitted || nameField.valid"
              class="alert alert-danger"
            >
              Please enter your name or check the box below to donate
              anonymously
            </div>
          </div>
          <div class="inputGroup">
            <label for="email" class="label-name">Email Address</label>
            <input
              type="email"
              name="email"
              id="email"
              required
              placeholder="Enter your email"
              [(ngModel)]="donate.email"
              #emailField="ngModel"
              [class.field-error]="form.submitted && emailField.invalid"
            />
            <div
              [hidden]="!form.submitted || emailField.valid"
              class="alert alert-danger"
            >
              Please enter your email or check the box below to donate
              anonymously
            </div>
          </div>
        </div>
      </div>
      <div class="Amount-section">
          <div class="input-section" *ngIf="!written">
            <label for="amount" class="label-name">Amount :</label>
            <div class="counter-section">
              <div class="counter-button">
                <button [disabled]="donate.count === 1" (click)="decrement($event)" class="count-btn">
                  <i class="bi bi-dash-square" ></i>
                </button>
  
                <p>{{ donate.count }}</p>
                <button (click)="increment($event)" class="count-btn">
                  <i class="bi bi-plus-square" ></i>
                </button>
              </div>
              <div class="counter-item">
                <p>Laptop(s)</p>
              </div>
              <div class="counter-amount">
                 <input
              type="text"
              id="amount"
              name="amount"
              required
              [(ngModel)]="donate.amount"
              #amount="ngModel"
              [class.field-error]="form.submitted && amount.invalid"
              [value]="donate.amount"
              readonly
            />
                <!-- <p>{{ item.amount | currency : "NGN" : "symbol" : "1.0-0" }}</p> -->
              </div>
            </div>
          </div>
          <div class="inputGroup" *ngIf="written">
        <label for="amount" class="label-name">Amount</label>
            <input
              type="text"
              id="amount"
              name="amount"
              required
              min.value="1000"
              placeholder="Enter Amount"
              [(ngModel)]="donate.amount"
              #amount="ngModel"
              [class.field-error]="form.submitted && amount.invalid"
            />
            <div
              [hidden]="!form.submitted || amount.valid"
              class="alert alert-danger"
            >
              Please enter amount
            </div>
          </div>
      </div>
      <div class="inputGroup2">
        <input
          type="checkbox"
          name="enterAmount"
          id="enterAmount"
          (change)="typeAmount($event)"
        />
        <label for="enterAmount" class="label-name">Type in Amount</label>
      </div>
      <div class="inputGroup2">
        <input
          type="checkbox"
          name="isAnonymous"
          id="isAnonymous"
          (change)="isAnon($event)"
        />
        <label for="isAnonymous" class="label-name">Donate Anonymously</label>
      </div>
      <div class="proceed-button">
        <button class="proceed-btn" [disabled]="isLoading">DONATE</button>
      </div>
    </form>
  </div>
</div>
