<div class="container">
<div class="section-two-row">
    <div class="col-one">
        <span class="col-span">
            <p class="col-p">Our Plan Involves You </p>
            
            <hr class="col-hr"/>
        </span>
        <h3>
            How To Help
        </h3>
        <p>Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit.  Vulputate eu scelerisque</p>
    </div>

</div>
</div>

