<div class="container">
<div class="section-two-row">
    <div class="col-one">
        <span class="col-span">
            <p class="col-p">Our Plan Involves You </p>
            
            <hr class="col-hr"/>
        </span>
        <h3>
            How To Help
        </h3>
        <p>Lack of access to laptops, power supply and internet supply is a problem plaguing many tech newbies in Africa leading to many not being able to fulfill their dreams of breaking into tech. Our main goal is to be able to help as many young people as we can fulfil their dreams of getting into tech.</p>
        <p>Your donation can make a huge impact on the life of a Youngster</p>
    </div>

</div>
</div>

