.section-two-row {
    display: flex;
    flex-direction: column;
padding: 50px 0;
  font-family: "Open Sans", sans-serif;

}
.col-one {
    width: 50%;
}
.col-p {
    font-weight: 800;
}
.col-one > h3 {
font-weight: 900;
font-size: 39px;
line-height: 50px;
}
.col-span {
    position: relative;
}
.col-hr {
    position: absolute;
    top: -5px;
    height: 4px;
    left: 25%;
    background-color:  #505D7833;
    width: 10%;
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
    .section-two-row{
        text-align: center;
    }
    .col-one {
        width: 100%;
    }
}
 @media only screen and (max-width: 480px) {
 }