<div class="donate-header">
  <div class="donate">
    <h1 class="dtn">Donate</h1>
  </div>
</div>
<div class="container">
  <div class="donate-body">
    <h3>Who we are</h3>
    <p>
      Techaid is a Not for profit initiative created to support young people in
      Africa starting their careers in technology. According to the
      International Finance Corporation (IFC), about 230 million jobs in
      Sub-Saharan Africa will require digital skills by 2030 but currently a
      huge percentage of the youths in Africa lack access to tools required to
      develop and earn from these digital skills, these youngsters have drive
      and the zeal but sadly drive is not enough.
    </p>
    <div class="vision">
      <h3>Our vision</h3>
      <p>
        A more inclusive and diverse tech community in Africa where anyone can
        make it in tech regardless of their financial background.
      </p>
    </div>
    <div class="mission">
      <h3>Our mission</h3>
      <p>
        To provide laptops and other essential tools to those eager to start
        their tech journey but are hindered by lack of resources.
      </p>
    </div>

    <p>
      We are working to secure the future of Africa by providing as many youths
      as possible with laptops and other tools including internet subscriptions
      to facilitate their digital skill growth and career and we need your help.
    </p>

    <div class="donate-hero-two">
      <img src="../../../assets/images/donate-two.png" />
    </div>
  </div>
</div>
