
<div class="container">
 <carousel [noPause]="false">
  <slide>
    <div class="section-six-row">
        <p class="section-heading">Our Testimonials</p>
        <h3 class="section-title">What People Say</h3>
        <div class="section-profile">
            <div class="section-img">
                <img src="assets/images/author.png" alt="First slide">
            </div>
            <p>Hokage Isobu</p>
            <p>Founder</p>
        </div>
        <p class="section-desc">Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit.  Vulputate eu scelerisque Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum fugit praesentium sit! Perferendis quibusdam pariatur suscipit at cumque? Pariatur, fugit.</p>
        <!-- <div class="carousel-caption d-none d-md-block"> -->
        <!-- </div> -->
    </div>
  </slide>
  <slide>
     <div class="section-six-row">
        <p class="section-heading">Our Testimonials</p>
        <h3 class="section-title">What People Say</h3>
        <div class="section-profile">
            <div class="section-img">
                <img src="assets/images/user-one.png" alt="Second slide">
            </div>
            <p>Jeremiah Clark</p>
            <p>Director</p>
        </div>
        <p class="section-desc">Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit.  Vulputate eu scelerisque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, sunt?</p>
        <!-- <div class="carousel-caption d-none d-md-block"> -->
        <!-- </div> -->
    </div>
  </slide>
  <slide>
    <div class="section-six-row">
        <p class="section-heading">Our Testimonials</p>
        <h3 class="section-title">What People Say</h3>
        <div class="section-profile">
            <div class="section-img">
                <img src="assets/images/user-two.png" alt="Third slide">
            </div>
            <p>Michael Jacobs</p>
            <p>co-Founder</p>
        </div>
        <p class="section-desc">Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit.  Vulputate eu scelerisque</p>
        <!-- <div class="carousel-caption d-none d-md-block"> -->
        <!-- </div> -->
    </div>
  </slide>
</carousel>

</div>


