<div class="container">
    <div class="section-five">
    <h3 class="cont-title">How We Handle Our Process</h3>
    <p class="cont-desc">Lorem Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit. Vulputate eu scelerisque felis imperdiet proin fermentum leo. Est lorem ipsum dolor sit.  Vulputate eu scelerisque</p>
    <div class="section-five-card">
        <div class="section-card " *ngFor="let process of processes">
                <h3 class="id">{{process.id}}</h3>
                <h3 class="title">{{process.title}}</h3>
                <p class="desc">{{process.description}}</p>
            
        </div>
    </div>
    </div>

</div>


