
<div class="container">
    <div class="section-three-row">
        <div class="col">
            <div class="col-img-one">
                <img class="hero-img" src={{imgsrc}} alt="heroimg" />
                <div class="col-img-two">
                    <img class="hero-img-two" src={{imgsrc2}} alt="heroimg" />
                </div>
            </div>
        </div>
      <div class="col">
        <p>About Us</p>
        <h1>
          Your Support Is Really Powerful
        </h1>
        <p>
          We are a not for profit initiative that aims to empower young people who have the willingness and zeal but not the resources to pursue their tech career, we mainly distribute laptops, Internet devices and Power banks to tech newbies across Africa.
        </p>
        <div class="vision">
          <h3>{{visionHead}}</h3>
          <p>{{vision}}</p>
        </div>
        <div class="mission">
          <h3>{{missionHead}}</h3>
          <p>{{mission}}</p>
        </div>
        <div class="section-btn">
            <button class="read-btn">Read More</button>
        </div>
      </div>
    </div>
</div>

