
<div class="container">
    <div class="footer-container">
        <div class="contain-one">
            <div class="footer-form">
                <p>Sign Up to Recieve Product Updates and More</p>
                <form>
                    <div class="form-group">
                        <input type="email" placeholder="youremail@gmail.com"/>
                        <button><i class='bx bx-chevron-right' ></i></button>
                    </div>
                </form>
            </div>
            <div class="contact">
                <div class="footer-address">
                    <ul>
                        <li class="address-title">Office</li>
                        <li>566, Konoha road <br/> shinobi, saiken state.</li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <ul>
                        <li class="contact-title">Contact</li>
                        <li>+234 802 435 6997</li>
                        <li>info@donar.net</li>
                    </ul>
                </div>
            </div>
            </div>
        <div class="contain-two">
            <div class="footer-terms">
                <span>2022. All Rights Reserved</span>
                <span>Terms & Conditions</span>
                <span>Privacy</span>
            </div>
            <div class="footer-icons">
                <span><i class='bx bxl-twitter'></i></span>
                <span><i class='bx bxl-facebook' ></i></span>
                <span><i class='bx bx-globe' ></i></span>
            </div>
        </div>
    </div>
</div>
